*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

section {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
}

.main-content {
  background-color: #455A64;
  position: absolute;
  left: 0px;
  width: 50%;
}

.linked-list-header {
  text-align: center;
  margin: 30% 1% 0 1%;
  display: block;
  font-size: 4em;
  font-weight: 800;
}

.linked, .list {
 color: #FFFFFF;
}

.logo {
  height: .8em;
}

.website-title-input, .website-URL-input {
  display: block;
  height: 1.6em;
  border: 2px solid#CFD8DC;
  width: 65%;
  font-size: 2em;
}

.website-title-input {
  margin-top: 1.8em;
}

.website-URL-input {
  margin-top: 2em;
  margin-bottom: 2em;
}

.website-title-input::placeholder, .website-URL-input::placeholder {
  color: #B8B8B8;
  padding: .2em;
}

.enter {
  display: block;
  height: 2em;
  width: 65%;
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: 800;
}

.bookmarks {
  background-color: #CFD8DC;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  list-style-type: none;
  overflow: scroll;
}

.single-bookmark {
  border: 2px solid #607D8B;
  height: 12em;
  width: 94%;
  background-color: #FFFFFF;
  margin-top: 1.5em;
}

.bookmark-website-title {
  color: #455A64;
  padding-left: .5em;
  font-size: 2.2em;
  font-weight: 800;
  margin-top: .3em;
  padding-bottom: .3em;
}

.bookmark-website-url {
  color: #607D8B;
  padding: 0 0 .8em 1em;
  text-decoration: underline #F2F4F4;
  margin-top: .6em;
  font-size: 1.5em;
}

hr {
  margin: 0 1em 0 1em;
  height: 2px;
  border-top: 1px solid #ccc;
}

.read-button, .delete-button{
  float: left;
  border: none;
  text-decoration: underline #F2F4F4;
  color: #455A64;
  font-size: 1.3em;
}

.read-button {
  margin: .5em 0 0 .8em;
}

.delete-button {
  float: right;
  margin: .5em .8em 0 0;
}














