*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

section {
  height: 100%;
}

/*input portion*/

.main-content {
  background-color: #455A64;
  left: 0px;
  position: absolute;
  width: 50%;
}

.linked-list-header {
  display: block;
  font-size: 4em;
  font-weight: 800;
  margin: 30% 1% 0 1%;
  padding-top: .4em;
  text-align: center;
}

.linked, 
.list {
 color: #FFFFFF;
}

.logo {
  height: .8em;
}

.website-title-input, 
.website-URL-input {
  border: 2px solid#CFD8DC;
  display: block;
  font-size: 2em;
  height: 1.6em;
  outline-color: #FFD107;
  width: 80%;
}

.bookmark-website-url, 
.delete-button,
.enter,
.read-button, 
.website-title-input, 
.website-URL-input {
  cursor: pointer;
}

.website-title-input {
  margin-top: .8em;
}

.website-URL-input {
  margin-bottom: 1em;
  margin-top: 1em;
}

.website-title-input::placeholder, 
.website-URL-input::placeholder {
  color: #B8B8B8;
  padding: .15em;
}

.enter {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 1.4em;
  font-weight: 800;
  height: 2em;
  outline: none;
  width: 80%;
}

.enter:hover {
  background-color: #FFD773;
}

.enter:disabled {
  background-color: #FFD773;
}

.error-message {
  color: #FFC107;
  font-weight: 800;
  height: 2em;
  margin-top: 1em;
  text-align: center;
}

.link-count {
  color: #FFFFFF;
  font-size: 1em;
  margin-top: .1em;
  text-align: center;
  width: 50%;
}

.read-count-number,
.unread-count-number,
.total-count {
  margin-left: .3em;
}


/*bookmarks*/

.bookmarks {
  background-color: #CFD8DC;
  height: 100%;
  list-style: none;
  overflow: scroll;
  padding-left: 0;
  position: absolute;
  right: 0px;
  width: 50%;
}

.single-bookmark {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  height: 11.5em;
  margin-top: 1.5em;
  width: 94%;
}

.bookmark-website-title {
  color: #455A64;
  font-size: 1.8em;
  font-weight: 800;
  margin-top: .3em;
  padding: 0 0 .3em .8em;
}

.bookmark-website-url {
  color: #607D8B;
  font-size: 1.5em;
  margin-top: .6em;
  padding: 0 0 .8em 1em;
  text-decoration: underline #F2F4F4;
}

.bookmark-website-url:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline #FFC107;
}

hr {
  border-top: 1px solid #ccc;
  height: 2px;
  margin: 0 1em 0 1em;
}

.read-button, 
.delete-button {
  border: none;
  color: #455A64;
  font-size: 1.3em;
  outline: none;
  text-decoration: underline #F2F4F4;
}

.read-button:hover, 
.delete-button:hover {
  font-weight: 800;
  text-decoration: underline #FFC107;
}

.read-button {
  float: left;
  margin: .6em 0 0 .8em;
}

.read-button-after {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

.read-button-after:hover {
  text-decoration: none;
}

.delete-button {
  float: right;
  margin: .6em .8em 0 0;
}



/*media queries*/

@media screen and (max-width: 1955px) {

  .linked-list-header {
    font-size: 3em;
    margin-top: 4em;
  }

  .link-count{
  font-size: 1em;
  }
}

@media screen and (max-width: 1080px) {

  .linked-list-header {
    font-size: 3em;
  }
}

@media screen and (max-width: 960px) {

  .linked-list-header {
    font-size: 3em;
  }
}


@media screen and (max-width: 768px) {
  
  .main-content{
    width: 100%;
    position: static;
  }

  .bookmarks {
    width: 100%;
  }

  .link-count {
    margin-bottom: 2em;
  }

  .linked-list-header {
    font-size: 2em;
    margin: 0% 1%;
    padding-top: 1em;
  }

  .error-message {
    height: 2em;
    padding-top: .1em;
  }

  .link-count {
    font-size: .8em;
    width: 80%;
  }
}

 



















