*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

section {
  height: 100%;
}

/*input side of page*/

.main-content {
  background-color: #455A64;
  left: 0px;
  position: absolute;
  width: 50%;
}

.linked-list-header {
  display: block;
  font-size: 4em;
  font-weight: 800;
  margin: 0% 1% 0 1%;
  text-align: center;
  padding-top: 10px;
}

.linked, 
.list {
 color: #FFFFFF;
}

.logo {
  height: .8em;
}

/*input fields*/

.website-title-input, 
.website-URL-input {
  border: 2px solid#CFD8DC;
  display: block;
  font-size: 2em;
  height: 1.6em;
  outline-color: #FFD107;
  width: 65%;
}

.website-title-input {
  margin-top: 1.8em;
}

.website-URL-input {
  margin-bottom: 2em;
  margin-top: 2em;
}

.website-title-input::placeholder, 
.website-URL-input::placeholder {
  color: #B8B8B8;
  padding: .15em;
}

input, 
select, 
textarea{
  color: #455A64;
  padding: .3em;
}

/*enter button*/

.enter {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 1.4em;
  font-weight: 800;
  height: 2em;
  outline: none;
  width: 65%;
}

.enter:hover {
  background-color: #FFD773;
}

.enter:disabled {
  background-color: #FFD773;
}

/*link count and error message for url validation*/

.error-message {
  color: #FFC107;
  text-align: center;
  font-weight: 800;
  height: 2em;
  margin-top: 1em;
}

.link-count{
  margin-top: .6em;
  color: #FFFFFF;
  font-size: 1.2em;
  border: 3px solid white;
  text-align: center;
  padding: none;
  width: 80%;
}

/*bookmark side of page*/

.bookmarks {
  background-color: #CFD8DC;
  height: 100%;
  list-style: none;
  overflow: scroll;
  padding-left: 0;
  position: absolute;
  right: 0px;
  width: 50%;
}

.single-bookmark {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  height: 11em;
  margin-top: 1.5em;
  width: 94%;
}

.bookmark-website-title {
  color: #455A64;
  font-size: 1.8em;
  font-weight: 800;
  margin-top: .3em;
  padding: 0 0 .3em .8em;
}

.bookmark-website-url {
  color: #607D8B;
  font-size: 1.5em;
  margin-top: .6em;
  padding: 0 0 .8em 1em;
  text-decoration: underline #F2F4F4;
}

.bookmark-website-url:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline #FFC107;
}

hr {
  border-top: 1px solid #ccc;
  height: 2px;
  margin: 0 1em 0 1em;
}

/*bookmark buttons*/

.read-button, 
.delete-button {
  border: none;
  color: #455A64;
  font-size: 1.3em;
  outline: none;
  text-decoration: underline #F2F4F4;
}

.read-button:hover, 
.delete-button:hover {
  font-weight: 800;
  text-decoration: underline #FFC107;
}

.read-button {
  float: left;
  margin: .5em 0 0 .8em;
}

.read-button-after {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

.read-button-after:hover {
  text-decoration: none;
}

.delete-button {
  float: right;
  margin: .5em .8em 0 0;
}

/*//media queries//*/

@media screen and (max-width: 768px) {
  .main-content{
    width: 100%;
    position: static;
  }
  .bookmarks {
    width: 100%;
  }
  .link-count {
    margin-bottom: 3em;
  }
};

  .linked-list-header {
    font-size: 4em;
    margin: 0% 1% 0 1%;
    text-align: center;
    padding-top: 10px;
}

};
















